@import "fonts";
//MARK: reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f4ed;
  font: {
    family: "sohne", sans-serif;
  }
}

// MARK: general.style
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  background-color: black;
  border-radius: 20px;
  color: white;
  padding: 8px 12px;
  border: none;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
// MARK: header
header {
  border-bottom: 1px solid black;
  padding: 20px;
  font-size: 14px;
  .logo {
    height: 30px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
@media screen and (max-width: 720px) {
  .sm-hidden {
    display: none;
  }
}
// MARK: main
main {
  background-color: orange;
  // min-height: 90vh;
  .container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 40px;
  }
  h1 {
    font: {
      family: "GT super", serif;
      size: 110px;
      weight: 400;
    }
    line-height: 0.9;
  }
  p {
    font-size: 22px;
  }
  .btn {
    font-size: 22px;
  }
}
@media screen and (max-width: 900px) {
  main {
    .btn {
      background: #1a8917;
    }
  }
}
